#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 /* background-image: url(/img/pizza2.jpg);*/
 /* background-color: rgb(217, 241, 233);*/
 background-color: rgba(230, 230, 238, 0.927);
}

/* Quito los estilos del codigo original. Solo dejo el root*/

